@page
@model ProyectoCiclo3.App.Frontend.Pages.ListRutaModel
@{     
}
 
<link rel="stylesheet" href="~/css/List.css" />

<div class="container">
  <h1>Listado de Rutas</h1>
	<table class="table">
   	<thead>       
			<tr>
				<th>ID</th>
				<th>Origen</th>
				<th>Destino</th>
				<th>Tiento Estimado</th>
				<th></th>

		  </tr>
		</thead>
		<tbody>
      @foreach (var ruta in Model.Rutas)
      {
	  <tr>
			<td>@ruta.Id</td>
			<td>@ruta.Origen</td>
			<td>@ruta.Destino</td>
			<td>@ruta.Tiempo_Estimado</td>
			<td >
			<a class="btn btn-info" asp-page="./Details" asp-route-RutaId="@ruta.Id"><i class="fas fa-adjust"></i>Ver</a>
			<a class="btn btn-info" asp-page="./Edit" asp-route-RutaId="@ruta.Id"><i class="fas fa-adjust"></i>Editar</a>
			<a class="btn btn-danger" href="">Eliminar</a>
			</td>
		
  	  </tr>
      }
		</tbody>
	</table>
</div>
