
@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAvionModel
@{
}

<div class="navigation-links xs-hidden">
    <app-tagging position="start" text="Home" asp-page="[ '/home']"></app-tagging>
    <app-tagging position="end" text="Lista"></app-tagging>
</div>



<h1>Listado de Aviones</h1>
<table class="table">
    @foreach (var avion in Model.Aviones)
    {
        <tr>
            <td>@avion.id</td>
            <td>@avion.marca</td>
            <td>@avion.modelo</td>
            <td>@avion.numero_asientos</td>
            <td>@avion.numero_banos</td>
            <td>@avion.capacidad_maxima</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-avionId="@avion.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-avionId="@avion.id"><i class="fas fa-adjust">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>