@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAeropuertoModel
@{
}


<link rel="stylesheet" href="~/css/List.css" />


<div>
    <h1>Listado de Aeropuertos</h1>
    <table class="table">
        <thead>       
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Ciudad</th>
                    <th>Pais</th>
                    <th>Coodenada X</th>
                    <th>Coodenada Y</th>
                    <th></th>

            </tr>
            </thead>
        @foreach (var aeropuerto in Model.Aeropuertos)
        {
        <tbody>
            <tr>
                <td>@aeropuerto.id</td>
                <td>@aeropuerto.nombre</td>
                <td>@aeropuerto.ciudad</td>
                <td>@aeropuerto.pais</td>
                <td>@aeropuerto.coord_x</td>
                <td>@aeropuerto.coord_y</td>
                <td>
                <a class="btn btn-info" asp-page="./Details" asp-route-aeropuertoId="@aeropuerto.id"><i class="fas fa-adjust"></i>Ver</a>
                <a class="btn btn-info" asp-page="./Edit" asp-route-aeropuertoId="@aeropuerto.id"><i class="fas fa-adjust">Editar</a>
                <a class="btn btn-danger" href="">Eliminar</a>
                </td>
            </tr>
        </tbody>
        }
    </table>
</div>